@font-face {
    font-family: inter-bold;
    src: url(/resources/fonts/Inter-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: inter-regular;
    src: url(/resources/fonts/Inter-Regular.woff);
}

@font-face {
    font-family: inter-semibold;
    src: url(/resources/fonts/Inter-SemiBold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter-regular, Arial, Helvetica, sans-serif;
}

:root {
    --prime-color-blue: #35b8be;
    --trans-white: rgba(245, 245, 245, 0.875);
    --light-white: #ffffff;
    --purple-blue: #28224b;
    --light-purple-blue: #546285;
    --light-blue-bg-image: #f5fafc;
    --dark-prime-blue: #1b9097;
}

/* Classes and universal style*/
a {
    cursor: pointer;
}

.highlight-blue {
    color: var(--prime-color-blue);
}

.design-button {
    border: none;
    background-color: var(--prime-color-blue);
    padding: 1.2rem 2.3rem;
    background-image: url("/images/Button\ Wave.svg");
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}

.dark-prime-blue {
    color: var(--dark-prime-blue);
    font-family: inter-bold;
}

hr {
    opacity: .2;
}

.inter-bold {
    font-family: inter-bold;
}


/*Navigation-delivery notice*/
#delivery-notice {
    overflow-x: hidden;
    display: none;
    height: 48px;
    position: relative;
    background-color: var(--prime-color-blue);
}

#banner-wave {
    position: absolute;
    width: 100%;
    height: auto;
    left: 20px;
    top: 10px
}

#delivery-notice {
    text-align: center;
    color: var(--trans-white);
    overflow: hidden;
}

#delivery-notice p {
    font-size: 1rem;
    height: 100%;
    vertical-align: middle;
    line-height: 3rem;
}

#order-now {
    color: white;
}

/*Navigation-link menu*/
nav {
    overflow: hidden;
    background-color: var(--light-blue-bg-image);
}

#nav-background {
    position: absolute;
    z-index: -1;
}

#link-menu {
    background-color: var(--light-blue-bg-image);
    margin: 3% 0 8%;
}

#nav-right {
    display: flex;
    justify-content: right;
    margin: auto 10px;
}

#logo-container {
    justify-content: left;
    width: 100%;
    margin: auto;
}

#logo {
    width: 40px;
}

#nav-list {
    display: none;
}

#cart-button {
    background-color: var(--prime-color-blue);
    border-radius: 5px;
    position: relative;
    margin: 10px 5px;
}

#cart-banner-container {
    overflow: hidden;
}

#cart-banner {
    position: absolute;
}

#cart-pic {
    width: 20px;
    margin: 20px 20px 15px 20px;
}

#round-div-cart {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 250, 250);
}

#in-cart {
    text-align: center;
    margin: 3px;
    color: var(--prime-color-blue);
    font-weight: bold;
}

#burger-menu {
    border-radius: 5px;
    margin: 10px 5px;
    background-color: #7e828f1a;
}

#burger-menu-icon {
    width: 20px;
    margin: 20px 20px 15px 20px
}

/* First Impressions Section*/
#first-impression {
    overflow-x: hidden;
}

#first-impression-content {
    padding: 1rem auto 0;
}

#first-impression-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#first-impression-left h1 {
    font-size: 3rem;
    text-align: center;
    font-family: inter-bold;
    line-height: 3.1rem;
    margin: 6% 0;
}

#h1-under {
    margin: 2% .5rem 20px;
    color: var(--light-purple-blue);
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#first-impression-button {
    margin: 12% 0 7%;
}

#trustpilot {
    margin: 10px 15px 10px 0px;
}

#review-text {
    color: black;
    margin-bottom: 6rem;
}

#first-impression-right {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#social-food {
    width: 95%;
}

#impression-bg {
    max-height: 440px;
    position: absolute;
    z-index: -1;
    right: 0;
}

/* Fresh products section*/
#fresh-products {
    position: relative;
    overflow: hidden;
    background-image: url(/images/BG\ Shape\ Content.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000%;
    padding-bottom: 30%;
}

#yum-yum {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: -1;
    max-width: 400px;
}

#fresh-products-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#left-fresh-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    z-index: 1;
}

#left-fresh-section h1 {
    text-align: center;
    color: var(--prime-color-blue);
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    font-family: inter-bold;
    padding: 0 6% 0 0;
}

#left-fresh-section p {
    color: var(--light-purple-blue);
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.125rem;
    padding: 5px;
}

#about-us-button {
    width: 250px;
    margin: 3rem auto;
    background-repeat: no-repeat;
}

#right-fresh-section {
    margin-top: 30px;
    margin-right: 10px;
}

#woman-eating-burger {
    width: 100%;
    margin-right: 5px;
    max-width: 500px;
    margin-top: 1rem;
}

/* How it works section*/
.step {
    text-align: center;
    width: clamp(100%, 40%, 100%);
}

.step-image {
    margin-bottom: 2.9rem;
    width: clamp(100%, 40%, 400px);
}

.step h2 {
    padding: 0 2rem;
    margin: 1px;
}

.step p {
    padding: 0 2.7rem;
    color: var(--light-purple-blue);
    line-height: 1.5rem;
}

.dashed-line {
    border: 1px dashed lightgrey;
    width: 1px;
    height: 100px;
    align-self: center;
    margin: 30px 0;
}

#how-it-works h1 {
    text-align: center;
    font-size: 3rem;
    margin: 70px 0 50px;
    font-family: inter-bold;
}

#steps-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 70px 10px;
}

/* Menu section*/
.menu-button {
    border: 1px solid lightgray;
    background-color: transparent;
    margin: 2% 15px;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.product-card {
    margin: 10px 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(53, 184, 190, .2);
    padding: 10px 15px;
}

.product-photo-container {
    border-radius: 10px;
    display: flow-root;
}

.menu-product-photo {
    border-radius: 10px;
    width: 100%;
}

.product-name-price {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0 0;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .7rem;
    font-family: inter-bold;
}

.product-description{
    line-height: 1.4rem;
    color: var(--light-purple-blue);
}

.quantity-add-button {
    display: flex;
    margin: 1rem 0;
}

.quantity {
    margin-right: .5rem;
    border-radius: 5px;
    padding: .7rem;
    width: 25%;
    font-size: 1rem;
    background-color: #fafafa;
    border: 1px solid lightgray;
}

.quantity:focus {
    outline: 1px solid rgba(41, 84, 255, 0.598);
    border-style: none;
}

.add-to-cart-button {
    background-image: none;
    padding: 0 0.8rem;
    font-size: 1rem;
}

#menu-type-buttons .active-button {
    background-image: url("/images/Button\ Wave.svg");
    background-color: var(--prime-color-blue);
    background-repeat: no-repeat;
    color: white;
    font-size: 1rem;
}

#menu-container {
    background-color: var(--light-blue-bg-image);
}

#menu-bg {
    display: none;
}

#menu-content {
    display: flex;
    flex-direction: column;
}

#menu-heading {
    text-align: center;

    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#menu-heading h1 {
    color: var(--prime-color-blue);
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    margin: 100px 0 20px 0;
    font-family: inter-bold;
}

#phone-link {
    text-decoration: underline;
}

#menu-heading p {
    padding: 0 15px;
    line-height: 1.5rem;
    color: var(--light-purple-blue);
    font-size: 1.1rem;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#menu-type-buttons {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

#menu-grid {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
/* 
    margin-right: auto;
    margin-left: auto; */
    justify-content: space-evenly;
}

#full-menu-button {
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin: 60px auto 100px;
}

/* Faq Section */
#faq {
    position: relative;
    margin: 20% 0 0%;
}

#dot-pattern {
    position: absolute;
    width: 70%;
}

#faq-content {
    display: flex;
    flex-direction: column;
}

#faq-image {
    margin-bottom: 20%;
}

#faq-right-section {
    text-align: center;
}

#faq-right-section h1 {
    font-family: inter-bold;
    font-size: 3rem;
    line-height: 3rem;

}

#faq-right-section p {
    color: var(--light-purple-blue);
    font-size: 1.1rem;
    margin: 1rem 0 2rem;
    padding: 0 .4rem;
    line-height: 1.7rem;
}

#faq-button {
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% 0 20%;
}

/*Call Section*/
#call {
    position: relative;
    background-color: var(--light-blue-bg-image);
    padding: 30% 1%;
    overflow-x: hidden;
    z-index: -1;
}

#call-yum-yum {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: -1;
}

#call-section {
    text-align: center;
}

#background-image-2 {
    display: none;
}

#left-call-section h1 {
    font-size: 2.9rem;
    font-family: inter-bold;
    line-height: 3rem;
}

#left-call-section p {
    padding: 10% 1%;
    color: var(--light-purple-blue);
    font-size: 1.1rem;
    line-height: 1.7rem;
}

#phone-image {
    width: 100%;
    padding: 6% 2% 0 0;
}

/* Order Section */ 
#order {
    display: flex;
    flex-direction: column;
    margin: 3%;

    overflow: hidden;
}

#order-image {
    height: 100%;
    width: 190%;
    object-fit:contain;
    object-position: -135px;
}

#order-section {
    position: relative;
    background-color: var(--prime-color-blue);
    margin-top: 7%;
    padding: 20% 4%;
    z-index: 1;
}

#background-dots {
    position: absolute;
    width: 100%;
    z-index: -1;

    top: -5px;
    left: 1px;
}

#order-section h1 {
    font-size: 2.56rem;
    color: white;
    font-family: inter-bold;
    line-height: 3rem;
}

#order-button {
    color: var(--prime-color-blue);
    background-color: white;
    padding: 19px 29%;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 50px 0 0;
}

/* Footer section */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-bg-image);
    padding: 0 3%;

    z-index: 2;
}

#links-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 20%;

    z-index: 2;
}

#footer-logo {
    padding: 30% 0 11%;
    width: 13%;
}

#logo-and-purpose p {
    color: var(--light-purple-blue);
    font-size: 1.1rem;
}

.footer-col {
    margin: 15% 0;
    line-height: 3rem;
    color: var(--light-purple-blue);
}

.footer-col h6 {
    color: black;
    font-size: .8rem;
    letter-spacing: .1rem;
}

#socials-section {
    font-size: .9rem;
    padding: 17% 1% 10%;
    position: relative;
    margin: 5% 0 0;
    z-index: 2;
}

#socials-left-section {
    text-align: center;
    letter-spacing: .02rem;
}

#socials-flowbase, #socials-webflow {
    text-decoration-line: underline;
}

#footer-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#socials-right-section {
    text-align: center;
    margin: 10%;
}

#socials-right-section a {
    border: 1px solid var(--light-purple-blue);
    padding: 3%;
    border-radius: 50%;
    opacity: .3;
    margin: 0 5%;
}

.social-button {
    width: 2%;
    margin: 0 1%;
}

ul li {
    list-style-type: none;
}

@media screen and (min-width: 990px){
    /* Display delivery and order note*/
    nav {
        background-color: white;
    }

    #delivery-notice {
        display: block;
    }

    #link-menu {
        margin: .5rem 4% auto 2%;
        background-color: white;
    }

    /* Hide burger menu, list nav links. */
    #burger-menu {
        display: none;
    }

    .active {
        color: var(--prime-color-blue)
    }

    #nav-list{
        display: flex;
        list-style-type: none;
        align-items: center;

    }

    #nav-list li {
        margin: auto 1rem;
        color: var(--purple-blue);
        opacity: .8;
    }

    #nav-list li:hover {
        opacity: 1;
    }

    /*First Impression section */
    #first-impression {
        position: relative;
        overflow: hidden;
    }

    #first-impression-content {
        display: flex;
        padding: 8.5rem 2rem;
        overflow: hidden;
    }

    #first-impression-left {
        display: flex;
        width: 50%;
        align-items: start;
    }

    #first-impression-left h1 {
        text-align: left;
        font-size: 3.8rem;
        line-height: 4rem;
    }

    #h1-under {
        text-align: left;
    }

    #first-impression-right {
        width: 50%;
    }

    #order-button {
        margin: 1rem 0px;
    }

    #social-food {
        object-fit: contain;
        width: 100%;
    }

    #impression-bg {
        max-height: 600px;
    }

    /* Fresh Products Section */
    #fresh-products {
        background-size: clamp(10px, 100%, 1600px) 80%;
        padding: 60px 10px 0px;
    }

    #yum-yum {
        z-index: -1;
        top: 200px;
        width: clamp(200px, 50%, 600px);
        max-width: initial;
    }

    #fresh-products-content {
        display: flex;
        flex-direction: row;
        overflow: visible;

        margin-top: 2rem;
        max-width: 1600px;
    }

    #left-fresh-section {
        padding-left: 3%;
        align-items: start;
    }

    #left-fresh-section h1 {
        font-size: 60px;
        text-align: left;
        line-height: 3.5rem;
    }

    #left-fresh-section p {
        margin: 10px 0;
        text-align: left;
    }

    #about-us-button {
        margin: 30px 0;
        padding: 20px 35px;
        width: auto;
    }

    #right-fresh-section {
        flex-basis: 50%;
        position: relative;
        top: -50px;
    }

    /* How it works section*/
    .dashed-line {
        width: 300px;
        height: 1px;
        align-self: auto;
        margin: 150px 0;
    }

    .step {
        display: flex;
        flex-direction: column;
        max-height: 440px;
    }

    .step h2 {
        padding: 0 0px;
        font-size: 22px;
    }
    
    .step p {
        margin-top: 10px;
        padding: 0;
        font-size: 17px;
    }

    .step img {
        max-width: auto;
        max-height: 360px;
    }

    #how-it-works h1{
        padding-bottom: 30px;
        font-size: 3.5rem;
    }

    #how-it-works {
        padding: 110px 0 120px;
    }

    #steps-container {
        display: flex;
        flex-direction: row;

        width: clamp(200px, 100%, 1200px);
        margin-left: auto;
        margin-right: auto;
    }

    /* Menu container */
    .product-card {
        max-width: 48%;
        display: flex;
        flex-direction: row;

        padding: 10px 25px;
    }

    .product-photo-container {
        max-width: 30%;
        align-self: center;

        margin-right: 30px;
        
        max-width: 120px;
    }

    .product-name-price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-button {
        width: 100%;
    }

    .quantity {
        width: 60px;
    }

    #menu-container {
        background-color: transparent;
        position: relative;
    }

    #menu-bg {
        position: absolute;
        top: -3%;
        padding: 0 2%;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: initial;
        left: 0;
    }

    #menu-content {
        width: clamp(10%, 100%, 1300px);
        margin-left: auto;
        margin-right: auto;
    }

    #menu-heading h1 {
        font-family: inter-bold;
        font-size: 3.3rem;
    }

    #menu-heading p {
        margin: auto;
    }

    #menu-type-buttons {
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;

        /* width: 60%; */
    }

    #menu-grid {
        flex-direction: row;
        flex-flow: row wrap;
        row-gap: 1%;
        column-gap: 1%;
        margin: auto 2%;
    }

    #full-menu-button {
        max-width: 20%;
    }

    /* Faq Section */

    #faq {
        margin: 5% 1%;
        padding: 5% 0;
    }

    #dot-pattern {
        margin: 2% 2%;
        width: 20%;
    }

    #faq-content {
        flex-direction: row;
    }

    #faq-image {
        padding: 2% 0;
        margin: 2%;
        width: 48%;
    }

    #faq-right-section {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #faq-right-section h1 {
        font-size: 3.5rem;
        margin-top: 20%;
    }

    #faq-right-section p {
        margin-top: 7%;
    }

    #faq-button {
        width: 37%;
    }

    /* Call section */
    #call {
        background-color: transparent;
        margin: 2% 2% 0;
        padding: 0 0;
        z-index: -1;
    }

    #call-yum-yum {
        position: absolute;
        width: 45%;
        left: 3%;
        z-index: 0;
    }

    #call-section {
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 2% 0 0;
    }

    #background-image-2 {
        display: initial;
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 10%;
    }

    #left-call-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 15% 0 0;
    }

    #left-call-section h1 {
        font-size: 3.3rem;
        line-height: 3.5rem;;
    }

    #left-call-section p {
        padding: 5% 0;
    }

    #faq-button {
        width: 45%;
    }

    #phone-image {
        width: 48%;
        height: 60%;
    }

    /* Order Section */
    #order {
        flex-direction: row;
        margin: 10% 3% 3%;
        justify-content: space-between;
    }

    #order-image-container {
        width: 49%;
        overflow: hidden;
    }

    #order-image {
        height: 100%;
        width: 110%;
        object-fit:cover;
        object-position: -195px;
    }

    #order-section {
        margin: 0;
        width: 49%;
        padding: 15% 6% 8%;
    }

    #order-section h1 {
        font-size: 3.3rem;
        line-height: 4rem;
    }

    #order-button {
        padding: 20px 10%;
        margin: 15% 0;
    }

    /* Footer Section */
    #links-section {
        flex-direction: row;
        padding: 0;
        margin: 1% 0 12%;
    }

    #logo-and-purpose {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10%;
    }

    #logo-and-purpose p {
        padding-right: 45%;
        line-height: 1.7rem;
    }

    #footer-logo {
        padding: 0;
        width: 8.5%
    }

    #columns {
        display: flex;
        flex-direction: row;
        width: 50%;
        padding: 9% 0 0;
    }

    .footer-col {
        margin: 0;
        width: 33.33%;
    }

    #socials-section {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    #socials-left-section {
        width: 50%;
        padding: 7.5% 0;
        text-align: left;
    }

    #socials-right-section {
        width: 50%;
        margin: 0;
        padding: 7% 0 0;
        text-align: right;
    }

    #socials-right-section a {
        position: relative;
        margin: 0 2.1%;
        padding: 2% 4%;
    }

    .social-button {
        position: absolute;
        bottom: 25%;
        width: 20px;
        right: 20%;
    }

    #footer-dots {
        width: 60%;
        left: -30px
    }
}

@media screen and (min-width:1200px) {
    /* Nav Section */
    #link-menu {
        padding: 0 15%;
    }

    /* First-Impression Section */
    #first-impression-content {
        padding: 7% 17%;
    }

    /* Fresh Products Seciton */
    #fresh-products {
        background-size: clamp(100px, 100%, 1600px);
        background-position: top center;
        margin: 0 2%;
    }

    #left-fresh-section {
        padding: 10% 10%;
    }
}