@font-face {
    font-family: inter-bold;
    src: url(/resources/fonts/Inter-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: inter-regular;
    src: url(/resources/fonts/Inter-Regular.woff);
}

@font-face {
    font-family: inter-semibold;
    src: url(/resources/fonts/Inter-SemiBold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter-regular, Arial, Helvetica, sans-serif;
}

:root {
    --prime-color-blue: #35b8be;
    --trans-white: rgba(245, 245, 245, 0.875);
    --light-white: #ffffff;
    --purple-blue: #28224b;
    --light-purple-blue: #546285;
    --light-blue-bg-image: #f5fafc;
}

/* Classes and universal style*/
a {
    cursor: pointer;
}

.highlight-blue {
    color: var(--prime-color-blue);
}

.design-button {
    border: none;
    background-color: var(--prime-color-blue);
    padding: 1.2rem 2.3rem;
    background-image: url("/images/Button\ Wave.svg");
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}

.relative-absolute-background {
    display: relative;
    width: 100%;
}

/*Navigation-delivery notice*/
#delivery-notice {
    overflow-x: hidden;
    display: none;
    height: 48px;
    position: relative;
    background-color: var(--prime-color-blue);
}

#banner-wave {
    position: absolute;
    width: 100%;
    height: auto;
    left: 20px;
    top: 10px
}

#delivery-notice {
    text-align: center;
    color: var(--trans-white);
    overflow: hidden;
}

#delivery-notice p {
    font-size: 1rem;
    height: 100%;
    vertical-align: middle;
    line-height: 3rem;
}

#order-now {
    color: white;
}

/*Navigation-link menu*/
nav {
    overflow: hidden;
    background-color: var(--light-blue-bg-image);
}

#nav-background {
    position: absolute;
    z-index: -1;
}

#link-menu {
    background-color: var(--light-blue-bg-image);
    margin: 1rem 0;
}

#nav-right {
    display: flex;
    justify-content: right;
    margin: auto 10px;
}

#logo-container {
    justify-content: left;
    width: 100%;
    margin: auto;
}

#logo {
    width: 40px;
}

#nav-list {
    display: none;
}

#cart-button {
    background-color: var(--prime-color-blue);
    border-radius: 5px;
    position: relative;
    margin: 10px 5px;
}

#cart-banner-container {
    overflow: hidden;
}

#cart-banner {
    position: absolute;
}

#cart-pic {
    width: 20px;
    margin: 20px 20px 15px 20px;
}

#round-div-cart {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 250, 250);
}

#in-cart {
    text-align: center;
    margin: 3px;
    color: var(--prime-color-blue);
    font-weight: bold;
}

#burger-menu {
    border-radius: 5px;
    margin: 10px 5px;
    background-color: #7e828f1a;
}

#burger-menu-icon {
    width: 20px;
    margin: 20px 20px 15px 20px
}

/* First Impressions Section*/
#first-impression-content {
    padding: 1rem auto;
}

#first-impression-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#background-container {
    position: relative;
    width: 100%;
    z-index: -1;
}

#background-image {
    position: absolute;
    height: 600px;
    background-size: cover;
    left: -200px;
    top: -50px;
}

#first-impression-left h1 {
    font-size: 3rem;
    text-align: center;
    font-family: inter-bold;
    line-height: 3.2rem;
}

#h1-under {
    margin: 20px .5rem 20px;
    color: var(--light-purple-blue);
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#order-button {
    margin: 2rem auto 1.5rem;
}

#trustpilot {
    margin: 10px 15px 10px 0px;
}

#review-text {
    color: black;
    margin-bottom: 6rem;
}

#first-impression-right {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#social-food {
    width: 95%;
}

#impression-bg {
    display: none;
}

/* Fresh products section*/
#fresh-products {
    position: relative;
    padding-bottom: 6rem;
    overflow: hidden;
}

#fresh-bg {
    position: absolute;
    z-index: -2;
    height: 150%;
    overflow-y:hidden;
    top: -100px;
}

#yum-yum {
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 1;
}

#fresh-products-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#left-fresh-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}

#left-fresh-section h1 {
    text-align: center;
    color: var(--prime-color-blue);
    font-size: 48px;
    margin-top: 6rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

#left-fresh-section p {
    color: var(--light-purple-blue);
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.125rem;
    padding: 5px;
}

#about-us-button {
    width: 78%;
    margin: 3rem auto;
    background-repeat: no-repeat;
}

#right-fresh-section {
    margin-top: 30px;
    margin-right: 10px;
}

#woman-eating-burger {
    width: 100%;
    margin-right: 5px;
}

/* How it works section*/
.step {
    text-align: center;
    padding: auto 2rem;
}

.step-image {
    width: 100%;
    margin-bottom: 2.9rem;
}

.step h2 {
    padding: 0 2rem;
    margin: 1px;
}

.step p {
    padding: 0 2.7rem;
    color: var(--light-purple-blue);
    line-height: 1.5rem;
}

.dashed-line {
    border: 1px dashed lightgrey;
    width: 1px;
    height: 100px;
    align-self: center;
    margin: 30px 0;
}

#how-it-works h1 {
    text-align: center;
    font-size: 3rem;
    margin: 70px 0 50px;
}

#steps-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 80px 10px;
}

@media screen and (min-width: 990px){
    /* Display delivery and order note*/
    nav {
        background-color: white;
    }

    #delivery-notice {
        display: block;
    }

    #link-menu {
        margin: .5rem 4% auto 2%;
        background-color: white;
    }

    /* Hide burger menu, list nav links. */
    #burger-menu {
        display: none;
    }

    .active {
        color: var(--prime-color-blue)
    }

    #nav-list{
        display: flex;
        list-style-type: none;
        align-items: center;

    }

    #nav-list li {
        margin: auto 1rem;
        color: var(--purple-blue);
        opacity: .8;
    }

    #nav-list li:hover {
        opacity: 1;
    }

    /*First Impression section */
    #first-impression {
        position: relative;
        overflow: hidden;
    }

    #first-impression-content {
        display: flex;
        padding: 8.5rem 2rem;
        overflow: hidden;
    }

    #first-impression-left {
        display: flex;
        width: 50%;
        align-items: start;
    }

    #first-impression-left h1 {
        text-align: left;
        font-size: 3.8rem;
        line-height: 4rem;
    }

    #h1-under {
        text-align: left;
    }

    #first-impression-right {
        width: 50%;
    }

    #order-button {
        margin: 1rem 0px;
    }

    #social-food {
        object-fit: contain;
        width: 100%;
    }

    #background-container {
        display: none;
    }

    #impression-bg {
        position: absolute;
        left: 30px;
        width: 100%;
        z-index: -1;
        display: block;
    }

    /* Fresh Products Section */
    #fresh-products {
        margin-top: 4rem;
        padding: 20px;
        margin-right: 20px;
    }

    #fresh-bg {
        width: 100%;
        top: -200px;
    }

    #yum-yum {
        z-index: -1;
        top: 70px;
        width: auto;
    }

    #fresh-products-content {
        display: flex;
        flex-direction: row;
        overflow: visible;
    }

    #left-fresh-section {
        display: flex;
        flex-basis: 55%;
        padding-left: 10px;
        align-items: start;
    }

    #left-fresh-section h1 {
        font-size: 60px;
        text-align: left;
        line-height: 3.5rem;
    }

    #left-fresh-section p {
        margin: 10px 0;
        text-align: left;
    }

    #about-us-button {
        margin: 30px 0;
        padding: 20px 35px;
        width: auto;
    }

    #right-fresh-section {
        flex-basis: 50%;
        position: relative;
        top: -50px;
    }

    /* How it works section*/
    .dashed-line {
        width: 300px;
        height: 1px;
        align-self: auto;
        margin: 150px 0;
    }

    .step h2 {
        padding: 0 0px;
        font-size: 22px;
    }
    
    .step p {
        margin-top: 10px;
        padding: 0;
        font-size: 17px;
    }

    #steps-container {
        display: flex;
        flex-direction: row;
    }

    #how-it-works h1{
        margin-bottom: 60px;
    }

    #step-2 {
        width: 75%;
    }
}